@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", serif;
}

/* Hamburger Menu */
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #b1a1ed;
  margin: 6px 0;
  transition: 0.4s;
}

/* Navbar */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #b1a1ed;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #ffd230;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Main page content */

.logo {
  display: flex;
  justify-content: center;
  padding-left: 15rem;
  margin: 5rem 15rem;
}

.tagline {
  display: flex;
  justify-content: center;
  padding: 5rem 15rem;
  border: #ffd230;
  background-color: #ffd230;
  color: white;
  margin-bottom: 5rem;
}

.socials-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.linkedin-icon,
.github-icon {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}

@media screen and (max-width: 480px) {
  .logo {
    width: 15rem;
  }
}

/* Projects Page */

.project-title {
  text-align: center;
  margin: 5rem 0 10rem;
  font-size: 6rem;
}

.project-ff {
  text-align: center;
  padding-bottom: 10rem;
}

.furfuturefunding {
  width: 20rem;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 10%;
}

.sb-header {
  text-align: center;
}

.starbounty {
  width: 20rem;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 3%;
}

/* About Me */

.about-background {
  background-color: black;
  color: white;
}

.about-me {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  font-size: 40px;
}

.cp-magicalgirl {
  width: 15em;
  display: flex;
  padding: 3rem 5rem;
  justify-content: center;
  margin: auto;
  border-radius: 40%;
}

.about-body {
  margin: auto;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

/* Contact Form */

.mandatory {
  color: red;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"],
select,
textarea {
  padding: 12px;
  resize: vertical;
}
